:root {
  /******* Font Weight *******/
  --guk-font-weight-normal: 500;
  --guk-font-weight-semibold: 600;

  /******* Font Size *******/
  --guk-font-size-xs: 0.75rem;
  --guk-font-size-sm: 0.875rem;
  --guk-font-size-base: 1rem;
  --guk-font-size-lg: 1.125rem;
  --guk-font-size-xl: 1.25rem;
  --guk-font-size-2xl: 1.5rem;
  --guk-font-size-3xl: 1.875rem;
  --guk-font-size-4xl: 2.25rem;
  --guk-font-size-5xl: 3rem;

  /******* Line Height *******/
  --guk-line-height-normal: 1.5;
  --guk-line-height-tight: 1.25;
  --guk-line-height-relaxed: 1.65;

  /******* Font Family *******/
  --guk-font-family: "Manrope", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/Manrope-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/Manrope-SemiBold.ttf") format("truetype");
}
