:root {
  --ods-avatar-container-position: relative;

  --ods-dialog-overlay-z-index: 20;
  --ods-dialog-alert-overlay-z-index: 20;

  --ods-dialog-content-z-index: 30;
  --ods-dialog-alert-content-z-index: 30;

  --ods-dropdown-container-content-z-index: 40;

  --ods-text-area-rich-text-expanded-z-index: 10;
}
