name: App Test

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  NODE_VERSION: 20
  NODE_CACHE: "yarn"

jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2
      - name: Setup Node
        uses: actions/setup-node@v4.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: ${{ env.NODE_CACHE }}
      - name: Restore NextJs cache
        uses: actions/cache@v4.2.0
        with:
          path: ${{ github.workspace }}/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/yarn.lock') }}-${{ hashFiles('**/*.[jt]sx?') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/yarn.lock') }}-
      - name: Install dependencies
        run: yarn install --immutable
      - name: Prepare secrets
        run: |
          echo "NEXT_SECRET_IPFS_JWT=${{secrets.NEXT_SECRET_IPFS_JWT}}" >> .env
          echo "NEXT_SECRET_RPC_KEY=${{secrets.NEXT_SECRET_RPC_KEY}}" >> .env
      - name: Build DEV application
        run: |
          yarn setup development
          yarn build
      - name: Cache NextJs build
        uses: actions/cache@v4.2.0
        with:
          path: |
            ${{ github.workspace }}/.next
            ${{ github.workspace }}/.env.local
            ${{ github.workspace }}/next-env.d.ts
          key: ${{ github.ref }}-${{ github.sha }}

  test:
    needs: prepare
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2
      - name: Setup Node
        uses: actions/setup-node@v4.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: ${{ env.NODE_CACHE }}
      - name: Install dependencies
        run: yarn install --immutable
      - name: Restore cached NextJs build
        uses: actions/cache@v4.2.0
        with:
          path: |
            ${{ github.workspace }}/.next
            ${{ github.workspace }}/.env.local
            ${{ github.workspace }}/next-env.d.ts
          key: ${{ github.ref }}-${{ github.sha }}
      - name: Check types
        run: yarn type-check
      - name: Check linter
        run: yarn lint
      - name: Check prettier
        run: yarn prettify
      - name: Run tests with coverage
        run: |
          set -eo pipefail
          yarn test:coverage
