name: App Deploy

on:
  push:
    branches:
      - main
      - develop

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  NODE_VERSION: 20
  NODE_CACHE: "yarn"
  APP_ENV: ${{ (github.ref == 'refs/heads/main' && 'production') || 'development' }}
  APP_DOMAIN: ${{ (github.ref == 'refs/heads/main' && 'app-next.aragon.org') || 'dev.app-next.aragon.org'  }}
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2
      - uses: actions/setup-node@v4.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: ${{ env.NODE_CACHE }}
      - name: Restore NextJs cache
        uses: actions/cache@v4.1.2
        with:
          path: ${{ github.workspace }}/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/yarn.lock') }}-${{ hashFiles('**/*.[jt]sx?') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/yarn.lock') }}-
      - name: Install dependencies
        run: yarn install --immutable
      - name: Build DEV or PROD application
        run: |
          yarn setup ${{ env.APP_ENV }}
          yarn build
      - name: Cache NextJs build
        uses: actions/cache@v4.1.2
        with:
          path: |
            ${{ github.workspace }}/.next
            ${{ github.workspace }}/.env.local
            ${{ github.workspace }}/next-env.d.ts
          key: ${{ github.ref }}-${{ github.sha }}

  test:
    needs: prepare
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2
      - name: Setup Node
        uses: actions/setup-node@v4.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: ${{ env.NODE_CACHE }}
      - name: Install dependencies
        run: yarn install --immutable
      - name: Restore cached NextJs build
        uses: actions/cache@v4.1.2
        with:
          path: |
            ${{ github.workspace }}/.next
            ${{ github.workspace }}/.env.local
            ${{ github.workspace }}/next-env.d.ts
          key: ${{ github.ref }}-${{ github.sha }}
      - name: Check types
        run: yarn type-check
      - name: Check linter
        run: yarn lint
      - name: Check prettier
        run: yarn prettify
      - name: Run tests with coverage
        run: |
          set -eo pipefail
          yarn test:coverage

  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2
      - uses: actions/setup-node@v4.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: ${{ env.NODE_CACHE }}
      - name: Install dependencies
        run: yarn install --immutable
      - name: Restore cached NextJs build
        uses: actions/cache@v4.1.2
        with:
          path: |
            ${{ github.workspace }}/.next
            ${{ github.workspace }}/.env.local
            ${{ github.workspace }}/next-env.d.ts
          key: ${{ github.ref }}-${{ github.sha }}
      - name: Prepare secrets
        run: echo "NEXT_SECRET_IPFS_JWT=${{secrets.NEXT_SECRET_IPFS_JWT}}" >> .env
      - name: Bundle Vercel application
        run: yarn vercel build --prod --yes --token=${{ secrets.VERCEL_TOKEN }} --scope ${{ secrets.VERCEL_SCOPE }}
      - name: Vercel deployment
        run: yarn vercel deploy --prebuilt --prod --skip-domain --yes --token=${{ secrets.VERCEL_TOKEN }} --scope ${{ secrets.VERCEL_SCOPE }} > deployment-url.txt
      - name: Set deployment alias
        run: |
          DEPLOYMENT_URL=`cat deployment-url.txt`
          yarn vercel alias $DEPLOYMENT_URL ${{ env.APP_DOMAIN }} --token=${{ secrets.VERCEL_TOKEN }} --scope ${{ secrets.VERCEL_SCOPE }}
