name: App Test

on:
  pull_request:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  NODE_VERSION: 20
  NODE_CACHE: "yarn"

jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.5
      - name: Setup Node
        uses: actions/setup-node@v4.0.2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: ${{ env.NODE_CACHE }}
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build application
        run: yarn build
      - name: Cache NextJs build
        uses: actions/cache@v4.0.2
        with:
          path: ${{ github.workspace }}/.next
          key: ${{ github.ref }}-${{ github.sha }}

  test:
    needs: prepare
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.5
      - name: Setup Node
        uses: actions/setup-node@v4.0.2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: ${{ env.NODE_CACHE }}
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Restore cached NextJs build
        uses: actions/cache@v4.0.2
        with:
          path: ${{ github.workspace }}/.next
          key: ${{ github.ref }}-${{ github.sha }}
      - name: Run tests with coverage
        run: |
          set -eo pipefail
          yarn test:coverage
      - name: Check types
        run: yarn type-check
      - name: Check linter
        run: yarn lint
      - name: Check prettier
        run: yarn prettify
